kagglehub
pandas
numpy
langchain
langchain-community
langchain-core
langchain-chroma
langchain-huggingface
langchain-google-genai
transformers
sentence-transformers
python-dotenv
gradio
seaborn